.cards-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    opacity: 0.9;
    overflow: hidden;
    justify-content: space-evenly;
    overflow-y: auto;
    background-image: linear-gradient(white 20%,black 80%);
}