.cards-container{
    display: flex;
    flex-wrap: wrap;
    width: 88%;
    left: 100px;
    height: 98%;
    padding: 15px 50px 0 50px;
    background-color: white;
    justify-content: space-between;
}

@media (max-width: 600px){
    .cards-container{
        left:0;
        height: 100%;
    }
}