.movie-container{
    height: 100%;
    width: 100%;
    background: linear-gradient(0deg, #282c34 5%,rgba(0,0,0,0.1)) ,url("https://wallpapercave.com/wp/wp2411501.jpg");
    background-size: cover;
}

.movie{
    display: block;
}

.details{
    color: white;
    height: 100%;
    display: flex;
    margin-left: 10px;
    flex-direction: column;
    align-items: center;
}

.movie-plot{
    width: 75%;
    text-align: center;
}

.poster{
    height: 300px;
    width: 300px;
    margin-top: 100px;
}