.side-menu {
    display: flex;
    width: 120px;
    background-color: black;
    overflow: hidden;
    box-shadow: 0 0 30px -5px;
}

.nav-bar {
    display: flex;
    position: sticky;
    top: 106px;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;

}

@media (max-width: 600px){
    .side-menu{
        display: none;
    }
}