.home {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}

.main-container{
    display: flex;
    margin-top: 75px;
}
@media (max-width: 600px){
    .home{
    top: 10px;
    }
}