.home {
    position: absolute;
    top: 65px;
    width: 100%;
    height: 100vh;
    background: linear-gradient(0deg, #282c34 5%,rgba(0,0,0,0.5)) ,url("https://wallpaper.dog/large/20493433.jpg");
    background-size: cover;
}

.main-container{

    top: 65px;
    height: 100%;
}
@media (max-width: 600px){
    .filter-container{
        height: 50px;
       flex-direction: column;
    }
}