.home {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.header-container{
    position: fixed;
    height: 80px;
    width: 100%;
    display: flex;
    z-index: 1;
}

.main-container{
    display: flex;
    margin-top: 80px;
    width: 100%;
}
@media (max-width: 600px){
    .main-container{
        flex-direction: column;
    }
}